* { 
    padding: 0;
    margin: 0;
    font-size: 100%; 
    font-family: roboto, Arial, Tahoma, sans-serif; 
}

.carousel-inner {height: 100vh;width: 100vw;}

.padT {
    padding-top: 70px;
    @media (max-width: 495px) {
    padding-top: 110px;}
    @media (max-width: 285px)  {
    padding-top: 160px;
    }
}