div{
    form {
        display: flex;
        flex-direction: column;
        margin: 100px;
        font-size: 0.9rem;
        text-align:left;
        line-height: 4vh;
        div {
            padding: 20px 20px 20px 0px;
        }
        input {
            width: $ancho;
            margin: 0px;
        }
        .boton {
            box-shadow: $sombreado;
            font-weight: $negrita/3;
            width: $ancho;
            margin: 10px;
        }
    }
}