

//imports





@import "scss/variables";
@import "scss/base";
@import "scss/menu";
@import "scss/footer";
@import "scss/contacto";
@import "scss/fica";
@import "node_modules/bootstrap/scss/bootstrap";

